.button, .red-big-button, .red-big-button-rounded, .big-button {
	display: inline-block;
	padding: 1em;
}
.big-button, .red-big-button, .red-big-button-rounded {
	font-size: 2em;
}
.red-big-button, .red-big-button-rounded {
	color: red;
}
.red-big-button-rounded {
	border-radius: 8px;
}