%button {
	color: var(--color, blue);
	background: var(--bgcolor, white);
}

.button {
	@extend %button;
}

.button-2 {
	--color: red;
	--bgcolor: black;
	@extend %button;
}

.button-3 {
	--type: Arial;
	@extend %button;
	font-family: var(--type);
}